<%- layout("./layouts/boilerplate") %>

<% block("head").append('<link rel="stylesheet" href="/css/stars.css">') %>

<div class="row">
    <div class="col-lg-9">
        <div class="card mb-3 rounded-0">
            <img src="<%= post.image.url %>" class="card-img-top rounded-0" style="max-height: 70vh; object-fit: cover; object-position: center;" alt="">
            <div class="card-body">
                <h3 class="card-title mb-4"><%= post.title %></h3>
                <p class="card-text" style="white-space: pre-line"><%= post.body %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <small class="">Author: <%= post.author.username %></small>
                </li>
                <li class="list-group-item">
                    <small class="text-muted">Last update: <%= post.lastUpdated %></small>
                </li>
            </ul>
            <% if(currentUser) { %>
                <div class="card-footer">
                    <button class="btn <%= (post.likedByUsers.includes(currentUser._id))? "btn-danger": "btn-white" %> btn-like rounded-0" id="btn-like">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                        </svg>
                    </button>
                    <% if(post.author.equals(currentUser._id)) { %>
                        <a href="/posts/<%= post.id %>/edit" class="btn btn-primary rounded-0">Edit</a>
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger rounded-0">Delete</button>
                        </form>
                    <% } %>
                </div>
                <script>
                    const postId = "<%= post._id %>";
                </script>
                <% block("script").append('<script src="/js/likes_feature.js"></script>') %>
            <% } %>
        </div>
        
        <div>
            <div class="row">
                <div class="col-md-7">
                    <%- include("../reviews/show.ejs") %>
                </div>
                <div class="col-md-5">
                    <% if(currentUser) { %>
                        <%- include("../reviews/new.ejs") %>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <%- include("../partials/sidebar.ejs") %>
    </div>
</div>
